@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,600&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto;
}
.header {
    
    background-color: #fff;
}
.header-info {
    display: flex;
}
.header-info .primary-logo {
    width: 200px;
    height: 140px;
}
.header-info .primary-logo:hover {
    transform: rotate(360deg);
    transition: 1.5s;
    cursor: pointer;
}
.header-info h1 {
    text-align: center;
    padding: 15px;
    margin: 10px 0 10px 10px;
    
}
.header-info i{
    font-size: 45px;
    color: rgb(49, 93, 159);
    padding-top: 15px;
}
.container {
    max-width: 900px;
    background-color: rgb(49, 93, 159);
    margin: 50px auto;
    display: flex;
    border-radius: 25px;
    padding: 20px auto;
    color: #fff;
    font-family: roboto;
}
.container-bus select{
    background-color: rgba(0, 0, 0, 0.295);
    margin: 7px;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: aliceblue;
    width: 15rem;
    
}
.container-bus select option {
    background-color: rgb(49, 93, 159);
    text-align: center;
    font-family: roboto;
    
}
.container-bus select option:hover {
    color: rgb(192, 118, 21);
}

.description-bus {
    text-align: justify;
    padding: 20px;
}
.not-found {
    text-align: center;
    color: #aaa;
    /* padding: 10px; */
    margin: 15px;
}
.not-found i {
    font-size: 40px;
    padding: 7px;
}
/*
.div-show {
    text-align: center;
    color: #aaa;
} */
/* .button-search {
    padding: 10px;
    background-color: rgb(54, 54, 54);
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    border-radius: 10px;
} */
.container-bus, .container-maps {
    padding: 20px;
    text-align: center;
}
.description-title {
    display: inline-flex;
    justify-content: space-around;
}
.description-title i {
    font-size: 30px;
    margin: 0 10px;
    padding-bottom: 4px;

}
.description-title i:hover {
    transform: rotate(360deg);
    transition: 1.5s;
}
.description-title h3 {
    padding: 8px;
}
.container-maps iframe {
    border-radius: 15px;
    margin-top: 15px;
}
.cadastro {
    margin: 30px 10px;
    padding: 10px;
}
form {
    text-align: center;
    color: rgb(49, 93, 159);
}
.cadastro h2 {
    text-align: center;
    margin-bottom: 20px;
}
input {
    width: 50%;
    height: 35px;
    border-radius: 15px;
    border: none;
    margin: 10px 0;
    border: 1px solid rgb(49, 93, 159);
}
input:placeholder-shown {
    padding-left: 10px;
}
.input i {
    font-size: 20px;
    margin: 5px;
}
.input button {
    background-color: rgb(49, 93, 159);
    padding: 12px 30px;
    color: #fff;
    border: 1px solid rgb(49, 93, 159);
    border-radius: 15px;
    margin-top: 12px;
}
.input button:hover {
    background-color: #fff;
    color: rgb(49, 93, 159);
    border: 1px solid rgb(49, 93, 159);
    cursor: pointer;
    transition: .5s;
}

/* footer */


.footer {
    padding: 40px 0;
    background-color: rgba(56, 56, 53, 0.76);
}
.footer .social-media {
    text-align: center;
    padding-bottom: 25px;
    color: #fff;

}
.footer .social-media a {
    font-size: 18px;
    color: inherit;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    margin: 10px 8px;
    opacity: 0.75;
    border: 1px solid #fff;
    line-height: 40px;

}
.footer .social-media a:hover {
    opacity: 0.9;
    background-color: #fff;
    transition: all ease .7s;
    color: #aaa;
    transform: rotate(360deg);
}
/* color class */

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
    color: #fff;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li a:hover {
    opacity: 1;
    color: #000;
}
.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #aaa;
}


/* resposive */

@media only screen and (max-width: 924px) {
    .container {
        max-width: 95%;
    }
    
}
@media only screen and (max-width: 824px) {
    .container {
        max-width: 90%;
        display: grid;
    }
    .container-bus {
        height: 200px;
    }
    .maps iframe{
        width: 90%;
        height: 25rem;
     }
}
@media  only screen and (max-width: 624px) {
    .container {
        width: 100%;
        height: 100%;
    }
    
    .header-info .primary-logo {
        width: 170px;
        height: 110px;
    }
    .header-info h1 {
        padding: 10px 20px 10px 0;
        font-size: 30px;
    }
    .header-info i{
        font-size: 40px;
        padding: 10px;
    }

    .container-maps .maps{
       max-width: 100vh;
    }
    .maps iframe{
        width: 100%;
        height: 75vh;
    }
     input {
        width: 80%;
    }
}

@media only screen and (max-width: 475px) {
    .header-info h1 {
        padding: 10px 0 10px 0;
        font-size: 35px;
    }
    .header-info i{
        margin-top: 10px;
    }
    .header-info i{
        font-size: 30px;
    }
}

@media only screen and (max-width: 325px) {
    .header-info h1 {
        font-size: 20px;
        margin-left: 0;
    }
    input {
        width: 90%;
    }
    .header-info i{
        font-size: 35px;
    }
}
